body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 60px;
  padding: 50px;
  perspective: 1000px;
}
.box {
  width: 200px;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 10px 1px rgb(73, 72, 72);
  gap: 10px;
  transform: rotateX(10deg);
  transition: transform 400ms;
  flex-direction: column;
}
.box:hover {
  transform: rotateX(0deg);
}
.box > img {
  width: 100%;
  height: 180px;
}
.box > span {
  width: 100%;
  height: 100%;
  text-align: center;
}
